#mainNav {
	background-color: rgb(45, 62, 79); 
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #18BC9C;
}

#LoginLi {
	margin-right: 15px;
}

#login-dp{
    min-width: 240px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
    font-size:12px    
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

#login-dp{
    margin:12px 0    
}

#login-dp a{
    width: 49%;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.btn-theme {
	color: #FFF;
	background-color: #18BC9C; 
	border-color: rgb(29,142,118);
}